html  *{
    /* border: 1px dashed red; */
    margin: 0;
    padding: 0;
    
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    background: #FFFDF6;
}
.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}
header {
    width: 100%;
    background-color: #919191;
    height: 106px;
    display: flex;
    justify-content: center;
    color: #FFFDF6;

}
.search {
    flex-basis: 500px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid rgba(255, 253, 246, 0.66);
}
.search > img {
    width: 27px;
    height: 27px;

}
#btnsearch {
    border: none;
    width: 100%;
    height: 27px;
    background-color:#919191;
    color: #FFFDF6;
    
}
#btnsearch:focus {
    outline: none;
}
::-webkit-input-placeholder { 
    color: #FFFDF6;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}
.fontHead {
    height: 106px;
    display: flex;
    align-items: center;
    position: relative;
    right: 100px;
    
    
}
.fontHead > h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFDF6;
    margin: 0;
    
}
.navbar_1 {
    display: flex;
}
.navbar_1 > ul {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    
}
.navbar_1 > ul > li {
    margin: 5px;
    margin-bottom: 0PX;
}
.navbar_1 a {
    text-decoration: none;
    color: #FFFDF6;
}

/* Navbar_2 */

.navbar_2 {
    background: #FFFDF6;
    display: flex;
    justify-content: center;
 
}
.navbar2_ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #494949;

}
.navbar2_ul > * {
    width: 247px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: 20px;
}
    
.navbar2_ul > div > a {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #494949;
}
.showBorderNav {
    border: 1px solid rgba(73, 73, 73, 0.64);
    border-radius: 7px;
    text-decoration: underline;
} 
.navbar2_ul a:hover {
    text-decoration: underline;
}


/* banner */
.banner {
    height: 387px;
    display: flex;
    align-items: center ;
    justify-content: center;
}
.boxBanner {
    width: 770px;
    height: 100%;
    /* right: 310px; */
}
.boxBanner  img {
    width: 100%;
    height: 100%;
}

.btnA {
    position: absolute;
    z-index: 20px;
    left: 20px;
    width: 55px;
    height: 55px;
    font-size: 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.692);
    cursor: pointer;


}
 .btnB {
    position: absolute;
    z-index: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    font-size: 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.692);
    cursor: pointer;
    transform: rotate(180deg);

}

/* bookShelft */
.bookShelft {
    /* height: 720px; */
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container2 > h1 {
    color: #787878;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
}

.container2 {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    width: 80%;
}
.outline {
    width: 80%;
    border: .5px solid rgba(99, 95, 95, 0.46);
    margin: 50px;
}
.bookselect {
    width: 365px;
    height: 210px;
    border: 1px solid rgba(73, 73, 73, 0.33);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(73, 73, 73, 0.33);


    
}
.pic_books img{
    height: 180px;
    margin-left: 10px;
    margin-right: 10px;
}
.text_inside {
    /* height: 150px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #494949;
}
.nameBooks {
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}
.volume {
    margin-top: 5px;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}
.discount{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab' ,serif;

}

.btnCartBook {
    cursor: pointer;

}
/* footer */

footer {
    width: 100%;
    height: 500px;
    background: #E0ECE4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #494949;
}
.company {
    font-size: 24px;
}
.social { 
    margin-top: 20px
}
.social * {
    margin: 5px;
    cursor: pointer;
}

/* how to buy  */

.picimg {
    width: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picimg img {
    width: 100%;
    border-radius: 212px;
}
.detail {
    /* width: 50%; */
    height: 1000px;
    background: #D5CBCB;
    box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.textHowto , .howPayment { 
    width: 95%;
    margin-top: 30px;
    font-size: 18px;
    line-height: 31px;
    color: #494949;
}
.textHowto p , .howPayment p {
    margin-bottom: 10px;
}
.textHowto a {
    color: #494949;  
}
.textHowto a:hover {
    color: #979292;  
}
.bankBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.howPayment {
    display: flex;
    flex-direction: column;
    
}
.allBank {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.onlinePayment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.onlinePayment img {
    width: 70px;
}
.iconOnlinePay {
    margin: 20px;
}


/* Login */

.loginShelft {
    /* height: 720px; */
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container4 {
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
        align-items: flex-start;
}
.picimg_login {
    width: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picimg_login img {
    width: 100%;
    border-radius: 345.5px;
}
.formlogin {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=email] , input[type=password] ,input[type=text] { 
    width: 500px;
    height: 50px;
    margin-top:  50px;
    background: #F0E4D7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 10px;
    border: none;
    font-size: 25px;
    color: #838383;

}
.textHead {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #F2A07B;
    margin-bottom: 20px;
}
.textHead a {
    text-decoration: none;
    color: #F2A07B;
}
.textNextLink {
    width: 25%;
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    line-height: 35px;
    font-style: italic;

}

input[type=email]::-webkit-input-placeholder ,input[type=password]::-webkit-input-placeholder , input[type=text]::-webkit-input-placeholder   { 
    color: #838383;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 42px;
}
.inputEmail:focus , .inputPass:focus , .inputFname:focus , .inputLname:focus , .inputConPass:focus {
    outline: none;
}

.btnLogin {
    width: 150px;
    height: 60px;
    background: #E0ECE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top:  30px;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: #838383;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.btnLogin:hover {
    background: #c8e6d3;
}
.boxelement {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    justify-content: space-around;
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    line-height: 28px;
    color: #838383;
}
.forgotpass:hover {
    text-decoration: underline;
}
.forgotpass a {
    text-decoration: none;
    color: #838383;
}
.rememberUser {
     margin: 10px;
    
}
.rememberUser-lable {
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}

/* Register */

.btnCreate {
    width: 250px;
    height: 60px;
    background: #E0ECE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top:  30px;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: #838383;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.btnCreate:hover {
    background: #c8e6d3;
}

.boxbutton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.agree {
    margin: 10px;
   
}
.agree-lable {
   font-style: italic;
   font-weight: 300;
   font-size: 16px;
   line-height: 28px;
}

/* detail books */

.booksPic {
    width: 480px;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E0ECE4;
    box-shadow: 3px 4px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
}
.booksPic img {
    width: 90%;
    border-radius: 18px;
}
.container5 {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.booksShop {
    width: 700px;
    height: 690px;
    background: #E0ECE4;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.insideBooks { 
    width: 90%;
    height: 80%;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #302828;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.priceResult {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* margin-top: 50px; */

}
.priceResult * {
    margin-right: 10px;
}
.price {
    /* margin-top: 20px; */
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    text-decoration-line: line-through;
    color: #494949;
    /* margin-left: 20px; */
}
.numberPrice {
    margin: 0 10px 0 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}
.currency {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
    color: #6DAF63;
}
.btnCount {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFDF6;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    border: 1px solid #797a7e69;
}
.btnPlus , .btnMinus {
    border: none;
    background: #FFFDF6;
    border-radius: 8px;
}
.btnPlus , .btnMinus , .count {
    width: 80%;
    height: 100%;
    font-size: 25px;
}
.count {
   display: flex;
   justify-content: center;
   align-items: center;
}
.twoBtnbooks {
    display: flex;
    align-items: center;  
    justify-content:space-between;  
    width: 100%;
    margin-top: 50px;
    /* margin-right: 5px; */
}
.btnCartShop {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 300px;
    height: 50px;
    background: #797A7E;
    border-radius: 8px;
    box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.075);
}
.btnCartShop:hover {
    background: #575758;
}
.btnCartShop * {
    font-size: 15px;
    color: #FFFDF6;
    text-align: center;
    margin: 5px;
    font-weight: 300;
}
.exsampleRead {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: #FFFDF6;
    border-radius: 8px;
    color: #797A7E;
    box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.075);
}
.exsampleRead:hover {
    background: #eeeee5;
}
.contentBooks {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 20px;
    
}
.textIn {
    width: 80%;
    background: #D4CBCB;
    border-radius: 68px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.075);

}
.textIn * {
    margin-top: 20px;
    text-align: center;
    color: #494949;
}
.headproduct {
    margin-top: 100px;
}

/* cart sidebar */
.sidebar {
    width: 40%;
    height: 100%;
    background: #F4F9F9;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.sidebarHead {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebarHead *  {
    margin: 10px;
    margin-left: 20px;
}
.sidebartext {
    display: flex;
    justify-content: space-between;
}
.outlinesidebar {
    width: 100%;
    border: .5px solid rgba(179, 171, 171, 0.46);
    margin: 20px;
}
.product-list {
    width: 100%;
    list-style-type: none;
}
.product-item {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.product-item  img { 
   height: 100%;
   /* margin-left: 20px; */
}
.product-text {
    width:500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.product-text .btnCount {
    width: 80px;
    height: 30px;
}
.product-text .btnCount > * {
    font-size: 20px;
}
.product-price {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-price > * {
    margin: 10px;
    font-size: 15px
}
.product-del {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btnDelBooks {
    width: 25px;
    height: auto;
}
.boxsummary {
    margin: 30px;
    background: #FFFFFF;
    width: 100%;
    font-size: 15px;
    color: #797A7E;
    display: flex;
    flex-direction: column;
}
.boxsummary * {

    padding: 20px;
}
.boxPricePack {
    display: flex;
    justify-content: space-between;
}
.sumPrice {
    display: flex;
    justify-content: space-between;
}   
.boxBtn {
    display: flex;
    justify-content: flex-end;
}
.boxBtn a {
    text-decoration: none;
    color: #797A7E;
}
.boxBtn a:hover {
    text-decoration: underline;
    color: #404144;
}

.btnBuy {
    width: 200px;
    background: #E0ECE4;
    border-radius: 16px;
    border: none;
    font-size: 18px;
    color: #797A7E;
    
}
.btnBuy:hover {
    background: #c5e4cf;
}

/* all show/hide */
.overflow {
    overflow: hidden;
}
.overlay {
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.568);
    height: 100vh;
    z-index: 4;

}
.hide {
    display: none;
}

